:root {
    --small-square: 2vw;
    --big-square: 4vw;
}

html {
    border: 0;
    margin: 0;
    background-color: rgb(61, 61, 61);
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
}

#header-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 70px;
}

#setup-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    height: 100%;
}

#ships-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.ship-placements {
    display: flex;
}

.placed[name='horizontal'] {
    flex-direction: row;
}

.placed[name='vertical'] {
    flex-direction: column;
}

.ship-div-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.ship-parts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline: solid;
    outline-width: 2px;
    outline-color:blanchedalmond;
    background-color: black;
    width: var(--big-square);
    height: var(--big-square);
    margin: 2px;
    color: white;
}

.ship-parts[name='small'] {
    width: var(--small-square);
    height: var(--small-square);
    outline-width: 1px;
    margin: 1px;
}

#content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.rows {
    display: flex;
    flex-direction: row;
}

.squares {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    outline: solid;
    outline-width: 1px;
    outline-color: rgb(38, 201, 201);
    margin: 2px;
    background-color: rgb(142, 221, 195);
    color: black;
}

.big>.rows>.squares {
    width: var(--big-square);
    height: var(--big-square);
    font-size: var(--big-square);
    margin: 2px;
}

.small>.rows>.squares {
    width: var(--small-square);
    height: var(--small-square);
    font-size: var(--small-square);
    margin: 1px;
}

.placed {
    display: flex;
    position: absolute;
}